
$gris_fonce: #3f3f3f;
$gris_moyen: #8a8a8a;
$gris_clair: #f5f5f1;
$gris_contact: #d9d9d9;
$saumon: #f8aa8e;
$framboise: #e84b3d;
$bordeau: #ba412a;
$ombrage: #e84b3d;

.ui.menu.navMenu{
  min-height: 75px;
  background-color: $framboise;
  color:white;
  margin-bottom:30px;
}

.right.menu{
  margin-top:45px;
}

.ui.menu .item{
    color:$gris_clair;
    font-size:14px;
    /*
    padding-right:25px;
    padding-top:0px;
    padding-left: 0px;
    padding-bottom:0px;
*/
    a{
      color:$gris_clair;
      text-decoration:none;
    }
    a:hover {
      color: $gris_fonce;
      text-decoration:none;
    }
    li{
      display: block;
    }
}
