

/* STYLE ITEMS PRINCIPAUX */

body {
	background: white;
	padding-top: 0px;
	font-family: "comfortaa";//"Open+Sans:400";
}

a {
	color:$framboise;
}

.panel{
	background-color: $gris_clair;
	border-color:$saumon;
	>.panel-heading{
		background-color:$saumon;
	}
}

.thumbnail{
	width:108px;
	height:127px;
	.caption{
		text-align: center;
	}
}

.btn{
	color: $gris_clair;
	background-color: $gris_moyen;
	border: 1px solid $gris_moyen;
	box-shadow: 2px 2px 2px $gris_fonce;
	border-radius: 2px;
	:active{
		color:white;
		border:black;
	}
	.dark{
		color: $gris_fonce;
		background-color: $gris_clair;
		border-radius: 2px;
		max-width: 160px;
	}
}

button.dark.btn.btn-success:active{
	background-color:$saumon;
}
button.btn.btn-success:active{
	background-color:$saumon;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: $gris_clair;
    border: 1px solid $framboise;
    background-color: $framboise;
    box-shadow: 2px 2px 2px $saumon;
    border-radius: 2px;
}


/**** alert ****/

.alert-info {
    color: $gris_fonce;
    background-color: $saumon;
    border-color: $saumon;
}





/** FORM **/

/** width for the 3 selects on the same line for date  jj/mm/yyyy **/
select.form-control{
	min-width:100px;
}

.form-control[disabled]{
	cursor: initial;
}

textarea:focus, select:focus, radio-inline:focus, input:focus, .uneditable-input:focus {
    border-color: rgba(232, 75, 61, 0.8) !important;
    box-shadow: 0 1px 1px rgba(232, 75, 61, 0.075) inset, 0 0 8px rgba(232, 75, 61, 0.6) !important;
    outline: 0 none !important;
}

/**  .required asterisque for required form field **/
.required.col-sm-2.control-label{
	padding-right:7px;
}
.required.col-sm-2.control-label:after{
	content:" *";
	color:red;
}

.shadowed-input{
	background-color: $gris_clair;
	border: 1px solid $gris_clair;
	box-shadow: 2px 2px 2px $gris_moyen;
	font-family: "Comfortaa";
	border-radius: 2px;
}
